.env

# localstack
localstack/volume

# terraform
**/.terraform/
*.tfstate.*
*.tfstate
terraform.tfvars
.terraform.lock.hcl

# google cloud
client_secrets.json
service.json

**/ssh_keys/*
!**/ssh_keys/.keep

# other
.DS_Store

